<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #134383">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <h1 style="color: white;">ECFM</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/pages/fisica/0-fisica.html" style="color: white;">Física</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/pages/matematica/0-matematica.html" style="color: white;">Matemática</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/pages/estadistica/0-estadistica.html" style="color: white;">Estadistica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/pages/asistentes/0-asistentes.html" style="color: white;">Asistentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/pages/nivelacion/0-nivelacion.html" style="color: white;">Nivelación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/pages/docentes/0-docentes.html" style="color: white;">Docentes</a>
            </li>
        </ul>
    </div>
</nav>