:root {
    --primary-color: #134383;
    --secondary-color: #666;
    --background-color: #f1f1f1;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    --box-background: rgba(218, 218, 218, 0.51);
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

main {
    padding: 2rem;
}

.card-container, .container-material, .card-container-doc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.card, .item, .item-colab {
    background-color: var(--box-background);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
    width: 250px;
    text-align: center;
    transition: all 0.3s ease;
}

.card:hover, .item:hover, .item-colab:hover {
    transform: translateY(-5px);
    box-shadow: var(--hover-shadow);
}

.card-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.card h2, .card h5 {
    margin: 0.5rem 0;
    color: var(--primary-color);
}

.card h5 {
    font-weight: bold;
}

.card p, .item p, .item-colab p {
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.card a, .container-material a {
    color: inherit;
    text-decoration: none;
}

.card a:hover, .container-material a:hover {
    text-decoration: none;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.card-doc {
    background-color: #dadada83;
    border-radius: 8px;
    padding: 0.5rem;
    width: 240px;
    height: 250px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-doc h5 {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.card-doc.flipped {
    transform: rotateY(180deg);
}

.card-doc-front, .card-doc-back {
    background-color: var(--background-color);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.card-doc-front {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-doc-back {
    transform: rotateY(180deg);
    justify-content: flex-start;
    align-items: flex-start;
}

.card-doc-front img {
    margin-top: 10px;
}

.card-doc-back ul {
    padding-left: 10px;
    margin-top: 1px;
}

.card-doc-back li {
    font-size: 0.9em;
    margin-bottom: 2px;
    color: var(--secondary-color);
}

.card-doc-front:hover {
    transform: translateY(-7px);
}