body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    min-height: 100vh;
}

header {
    background-color: #ffffff;
    color: #134383;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    padding: 2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    background-color: #dadada83;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.card h2 {
    margin: 0.5rem 0;
    color: #134383;
}

.card h5 {
    margin: 0.5rem 0;
    color: #134383;
    font-weight: bold;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card a:hover {
    color: inherit;
    text-decoration: none;
}

.container-material {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.item {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    width: 300px;
}

.item p {
    color: #666;
}

.container-material a:hover {
    text-decoration: none;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.item-colab {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    width: 300px;
}

.item-colab p {
    color: #666;
}

.item-colab:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h2 {
    color: #134383;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
}


.card-doc {
    background-color: #dadada83;
    border-radius: 8px;
    padding: 0.5rem;
    width: 240px;
    height: 250px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-doc h5 {
    color: #134383;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-container-doc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.card-doc.flipped {
    transform: rotateY(180deg);
}

.card-doc-front,
.card-doc-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.card-doc-front {
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-doc-back {
    background-color: #f1f1f1;
    transform: rotateY(180deg);
    justify-content: flex-start;
    align-items: flex-start;
}

.card-doc-front img {
    margin-top: 10px;
}

.card-doc-back ul {
    padding-left: 10px;
    margin-top: 1px;
}

.card-doc-back li {
    font-size: 0.9em;
    margin-bottom: 2px;
    color: #666;
}


.card-doc-front:hover {
    transform: translateY(-7px);
}